node_modules/

# API
api/dist/
api/prisma/*.db
api/prisma/*.db-journal
api/dev.db
api/dev.db-journal

# Admin
admin/dist/

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store

# IDE
.vscode/
.idea/
